site_name: Signified
site_url: https://dougmercer.github.io/signified/
repo_url: https://github.com/dougmercer/signified

extra:
  version:
    provider: mike
    default: latest
    alias: true

theme:
  name: material
  custom_dir: docs/overrides
  palette:
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/lightbulb-auto
      name: Switch to light mode
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: teal
    accent: amber
    toggle:
      icon: material/lightbulb
      name: Switch to dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: teal
    accent: amber
    toggle:
      icon: material/lightbulb-outline
      name: Switch to system preference
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  # - pymdownx.arithmatex:
  #     generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  # - pymdownx.magiclink:
  #     normalize_issue_symbols: true
  #     repo_url_shorthand: true
  #     user: dougmercer
  #     repo: keyed
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

  # pymdownx blocks
  - pymdownx.blocks.admonition:
      types:
        - note
        - attention
        - caution
        - danger
        - error
        - tip
        - hint
        - warning
        # Custom types
        - info
        - check
  - pymdownx.blocks.details
  - pymdownx.blocks.tab:
      alternate_style: True
  - pymdownx.details
  - pymdownx.superfences

nav:
  - Home: index.md
  - Usage: usage.md
  - Playground: playground.md
  - Magic Methods: magic-methods.md
  - Plugins: plugins.md
  - API Reference: api.md
  - Change Log: changes.md
  - Limitations: limitations.md

extra_css:
  - https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.min.css
  - https://cdn.jsdelivr.net/npm/codemirror@5.65.16/theme/material-darker.min.css

extra_javascript:
  - https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.min.js
  - https://cdn.jsdelivr.net/npm/codemirror@5.65.16/mode/python/python.min.js
  - assets/playground.js

plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src]
          inventories:
          - https://numpy.org/doc/stable/objects.inv
          options:
            docstring_style: google
            show_if_no_docstring: true
            inherited_members: true
            members_order: source
            filters:
            - '!^_[^_]'
            separate_signature: true
            signature_crossrefs: true
            show_symbol_type_toc: true
            show_symbol_type_heading: true
            show_root_heading: true
            show_source: false
